@charset "UFT-8";

caption{
    font-weight: bold;
}
table{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    background-color: darkgrey;
}
td{
    background-color: rgba(0, 255, 255, 0.349);
}
th,td{
    padding: 8px;
    border: 1px solid black;
}
.total{
    background-color: darkgrey;
}
